body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/photo_2025-05-09 21.50.34.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container {
    max-width: 600px;

}
.header {
    margin-bottom: 3.4rem;
}
.header-img {
    border-radius: 0 0 50% 50%;
    position: relative;
}
.header-profile {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.header-profile img {
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid #353434;
}
.header div:first-child {
    position: relative;

}
.title {
    color: #ffe13e;
    text-align: center;
}
.title p {
    font-weight: bold;
}
.text {
    padding: 1rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.text p:first-child {
    font-weight: bolder;
    color: #ffffff;
}
.button {
    padding: 0 1rem 2rem;
}
.button button {
    border-radius: 16px;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    font-weight: bold;
    color: #ffe13e;
    background-color: #1067c4;
}